<div class="ui raised very padded text container segment">

    <div class="ui dividing header">{{title}}</div>

    <form class="ui form" action="/" method="POST">
      <div class="field">
        <label>Heading</label>
        <input type="text" name="title" placeholder="Heading">
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="image" placeholder="Image">
      </div>
      <div class="field">
        <label>Tag</label>
        <input type="text" name="tags" placeholder="Tag">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea type="text" name="description" placeholder="Description" rows="50"></textarea>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>

</div>
